body {
    background-color: rgb(168, 135, 196);
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.main {
    margin-left: 25px;
}
.post-item {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    flex: 1; 
    padding: 1em;

}
.post-item1 {
    width: 60%;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    flex: 2; 
    padding: 1em;
}
.item-content {
    background: #413D4C;
    padding: 20px;
}
.item-body {
    color: #F5E2CD;
    font-size: 24px;
}
.item-body1 {
    color: #F5E2CD;
    font-size: 18px;
}
.effect-container {
    display: flex;
}
img {
    width:250px;
}

